.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 148px;
  background-color: black;
  height: 64px;

  .logo {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
  }

  .search-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    min-width: 0; // overflow 방지
  }
  
  .setting-icon {
    color: white;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
  }
}
